@import "themes";
* {
    font-family: 'PT Sans', sans-serif;
}
.root_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
.top_bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
        margin: 30px;
        background-color: var(--app-color);
    }
    a {
        .githublogo {
            width: 45px;
            height: 45px;
            margin: 30px;
            border-radius: 50%;
            border: 3px solid var(--app-color);
            background-color: var(--app-color);
        }
    }
}
.color_piker {
    position: absolute;
    top: 45%;
    right: 20px;

    ul {
        list-style: none;

        li {
            height: 30px;
            width: 30px;
            margin-top: -10px;
            padding: 0;
            cursor: pointer;
        }
    }
}
.add_note {
    width: 260px;
    height: 70px;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;

    background-color: var(--app-color);
    color: white;
    outline: none;
    border: none;
}
.container_center {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: var(--app-color);
}
