:root {
    --app-color: #4c0464;
    --app-second-color:#eae1fb;
    --app-text-color:#573280;
}
[theme="#3a61ca"] {
    --app-color: #3a61ca;
    --app-second-color: #ddf1fa;
    --app-text-color: #449DD1;
}
[theme="#a85279"] {
    --app-color: #a85279;
    --app-second-color: #f5dfdf;
    --app-text-color:#E16F7C;
}
[theme="#3a9c85"] {
    --app-color: #3a9c85;
    --app-second-color:#b8ffca;
    --app-text-color: #126652;
}
[theme="#e7a129"] {
    --app-color: #e7a129;
    --app-second-color:#f5e5c4;
    --app-text-color: #b88123;

}
[theme="#424642"] {
    --app-color: #424642;
    --app-second-color:#dadada;
    --app-text-color: #536162;
}
