:root {
    --app-color: #773a9c;
}
[theme="#3a619c"] {
    --app-color: #3a619c;
}
[theme="#9c3a3a"] {
    --app-color: #9c3a3a;
}
[theme="#3a9c85"] {
    --app-color: #3a9c85;
}
[theme="#FFA07A"] {
    --app-color: #ffa07a;
}
[theme="#778899"] {
    --app-color: #778899;
}
